<template>
    <DefaultLayout :can-login="canLogin" :user="user">
        <div class="max-w-7xl mx-auto p-2 lg:p-2">
            <div class="mt-16">
                <div class="grid grid-cols-1 md:grid-cols-2 gap-6 lg:gap-8">
                    <Link
                        :href="route('projects.index')"
                        class="scale-100 p-6 bg-white dark:bg-gray-800/50 dark:bg-gradient-to-bl from-gray-700/50 via-transparent dark:ring-1 dark:ring-inset dark:ring-white/5 rounded-lg shadow-2xl shadow-gray-500/20 dark:shadow-none flex motion-safe:hover:scale-[1.01] transition-all duration-250 focus:outline focus:outline-2 focus:outline-red-500">
                        <div>
                            <h2 class="mt-3 text-xl font-semibold text-gray-900 dark:text-white">Проєкти</h2>

                            <p class="mt-4 text-gray-500 dark:text-gray-400 text-sm leading-relaxed">
                                У контексті "Системи контролю навчальними роботами", "проєкт" відноситься до конкретного
                                завдання або завдань, які студентам необхідно виконати в рамках своєї навчальної
                                програми. Проєкт може бути різної природи, включаючи дослідницькі роботи, лабораторні
                                роботи, практичні завдання, програмні проекти або будь-які інші завдання, спрямовані на
                                застосування та закріплення знань, вмінь та навичок, отриманих під час навчання.
                            </p>
                        </div>
                    </Link>

                    <a
                        :href="route('platform.main')"
                        class="scale-100 p-6 bg-white dark:bg-gray-800/50 dark:bg-gradient-to-bl from-gray-700/50 via-transparent dark:ring-1 dark:ring-inset dark:ring-white/5 rounded-lg shadow-2xl shadow-gray-500/20 dark:shadow-none flex motion-safe:hover:scale-[1.01] transition-all duration-250 focus:outline focus:outline-2 focus:outline-red-500">
                        <div>

                            <h2 class="mt-3 text-xl font-semibold text-gray-900 dark:text-white">Адмін панель</h2>

                            <p class="mt-4 text-gray-500 dark:text-gray-400 text-sm leading-relaxed">
                                "Адмін панель" в темі "Система контролю навчальними роботами" є інтерфейсом, який
                                призначений для адміністраторів або викладачів, щоб керувати та контролювати різні
                                аспекти системи.<br>
                                Адмін панель надає широкий набір функцій та можливостей для ефективного управління
                                системою контролю навчальними роботами.
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </DefaultLayout>
</template>

<script setup>
import DefaultLayout from "../Layers/DefaultLayout.vue";
import {Link} from "@inertiajs/vue3";

let props = defineProps(['user', 'canLogin']);
</script>
