<template>
    <div class="flex flex-col items-center justify-center h-screen dark:text-white text-2xl">
        Заявку прийнято!
        <Link :href="back">Повернутися назад</Link>
    </div>
</template>

<script setup>
import {Link} from "@inertiajs/vue3";
const props = defineProps(['back']);
</script>
