<template>
    <div class="flex items-center justify-center h-screen">
        <SignInGoogleButton/>
    </div>
</template>

<script setup>
import SignInGoogleButton from "../Components/SignInGoogleButton.vue";</script>
