<template>
    <DefaultLayout :can-login="canLogin" :user="user">
        <main>
            <div class="container mx-auto p-3">
                <div class="md:grid lg:grid-cols-[33.33%,66.66%]">

                    <div class="lg:flex items-baseline">
                        <div class="lg:flex">
                            <div class="flex lg:flex-col items-center lg:items-start space-x-4 lg:space-x-0 mb-2">
                                <img :src="user.avatar"
                                     alt="Avatar"
                                     class="w-10 h-10 sm:w-16 sm:h-16 lg:w-40 lg:h-40 mb-1 rounded-full">
                                <div class="font-medium dark:text-white">
                                    <div>{{ user.name }}</div>
                                    <div class="text-sm text-gray-500 dark:text-gray-400">{{ user.email }}</div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="flex flex-col dark:text-white">
                        <div v-if="projects.length === 0">
                            <div
                                class="flex items-center rounded-xl w-full p-5 font-medium text-left text-gray-500 border border-gray-200 dark:border-gray-700 dark:text-gray-400"
                            >
                                <svg-icon :path="mdiApps" class="h-20 w-20" type="mdi"/>
                                <div class="leading-10">
                                    <h4 class="text-2xl font-bold">Проєктів ще немає</h4>
                                    <h5 class="text-xl">З вами немає повязаних проєктів</h5>
                                </div>
                            </div>
                        </div>
                        <div v-for="(project, key) in projects" v-else :key="key" class="px-2">
                            <accordion :type="getSegmentLabel(key, projects.length)">
                                <template #title>{{ project.title }}</template>
                                <template #content>
                                    <div class="flex text-lg flex-col dark:text-white">
                                        <p>Подія: {{ project.event.title }}</p>
                                        <p>Тривалість: {{ project.start.slice(0, 10) }} - {{
                                                project.end.slice(0, 10)
                                            }}</p>
                                        <p>Важкість: {{ project.state.state }}</p>
                                        <p>Короткий опис: {{ project.brief_description }}</p>
                                        <Link :href="route('projects.show', project.id)"
                                              class="max-w-xs my-4 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                                            Детальніше
                                        </Link>
                                    </div>
                                </template>
                            </accordion>
                        </div>
                    </div>
                </div>

            </div>
        </main>
    </DefaultLayout>
</template>

<script setup>
import DefaultLayout from "../Layers/DefaultLayout.vue";
import Accordion from "../Components/Accordion.vue";
import {Link} from "@inertiajs/vue3";
import SvgIcon from '@jamescoyle/vue-icon';
import {mdiApps} from '@mdi/js';

function getSegmentLabel(key, length) {
    if (key === 0 && key === length - 1) {
        return 'first-end';
    } else if (key === 0) {
        return 'first';
    } else if (key === length - 1) {
        return 'end'
    } else {
        return 'continue';
    }
}


const props = defineProps(['user', 'canLogin', 'projects']);
</script>
