<template>
    <default-layout :can-login="canLogin" :user="user">
        <div class="dark:text-white">
            <div class="mb-2 mx-2">
                <div
                    class="inline-flex cursor-pointer mr-2 text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-2 py-1.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"
                    @click="toggleTitle"
                >
                    <span class="mr-1">Назва</span>
                    <svg-icon :path="path" class="w-5 h-5 inline" type="mdi"></svg-icon>
                </div>
                <button
                    class="inline cursor-pointer mr-2 text-gray-900 hover:text-white border border-gray-800 hover:bg-gray-900 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-lg text-sm px-2 py-1.5 text-center mr-2 mb-2 dark:border-gray-600 dark:text-gray-400 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-800"
                    @click="isTitle = !isTitle"
                >
                    <svg-icon :path="mdiFilter" class="w-5 h-5 inline" type="mdi"/>
                </button>
                <input v-if="isTitle"
                       v-model="filterTitle"
                       class="inline p-2 text-gray-900 border border-gray-300 rounded-lg bg-gray-50 sm:text-xs focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="Фільтрувати..."
                       type="text"
                       @input="fetchTitle"
                >
            </div>
            <div v-if="isDataEmpty">
                <skeleton-accordion v-if="isLoad"/>
                <div v-for="(project, key) in data.data" v-else :key="key" class="px-2">
                    <accordion :type="getSegmentLabel(key, data.data.length)">
                        <template #title>{{ project.title }}</template>
                        <template #content>
                            <div class="flex text-lg flex-col dark:text-white">
                                <p>Подія: {{ project.event.title }}</p>
                                <p>Тривалість: {{ project.start.slice(0, 10) }} - {{ project.end.slice(0, 10) }}</p>
                                <p>Важкість: {{ project.state.state }}</p>
                                <p>Короткий опис: {{ project.brief_description }}</p>
                                <Link :href="route('projects.show', project.id)"
                                      class="max-w-xs my-4 text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-base px-5 py-2.5 text-center mr-2 mb-2 dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500 dark:focus:ring-blue-800">
                                    Детальніше
                                </Link>
                            </div>
                        </template>
                    </accordion>
                </div>
            </div>
            <div
                v-else
                class="flex items-center rounded-xl w-full p-5 font-medium text-left text-gray-500 border border-gray-200 dark:border-gray-700 dark:text-gray-400"
            >
                <svg-icon :path="mdiApps" class="h-20 w-20" type="mdi"/>
                <div class="leading-10">
                    <h4 class="text-2xl font-bold">Проєкта немає</h4>
                </div>
            </div>
            <div class="flex justify-center mt-4">
                <tailwind-pagination
                    :data="data"
                    :limit="limit"
                    @pagination-change-page="fetchProjectsData"
                />
            </div>
        </div>
    </default-layout>
</template>

<script setup>
import DefaultLayout from "../../Layers/DefaultLayout.vue";
import TailwindPagination from "../../Components/ TailwindPagination.vue";
import Accordion from "../../Components/Accordion.vue";
import {Link} from "@inertiajs/vue3";
import {ref} from "vue";
import SvgIcon from '@jamescoyle/vue-icon';
import {mdiApps, mdiFilter, mdiSort, mdiSortAscending, mdiSortDescending} from '@mdi/js';
import SkeletonAccordion from "../../Components/SkeletonAccordion.vue";

const limit = 4;
const isTitle = ref(false);
const path = ref(mdiSort);

const isLoad = ref(false);
const isDataEmpty = ref(true);

const props = defineProps({
    user: {
        type: Object,
        required: true,
    },
    canLogin: {
        type: Boolean,
        required: true,
    },
});

function getSegmentLabel(key, length) {
    if (key === 0 && key === length - 1) {
        return 'first-end';
    } else if (key === 0) {
        return 'first';
    } else if (key === length - 1) {
        return 'end'
    } else {
        return 'continue';
    }
}

const data = ref({});

const url = ref(route('api.projects.index'));
const filterTitle = ref('');

function updateURLParam(name, value) {
    const urlObj = new URL(url.value);
    urlObj.searchParams.set(name, value);
    return urlObj.href;
}

async function toggleTitle() {
    let fullUrl;
    if (path.value === mdiSortAscending) {
        path.value = mdiSortDescending;
        fullUrl = updateURLParam('sort', 'title');
        url.value = fullUrl;
    } else {
        path.value = mdiSortAscending;
        fullUrl = updateURLParam('sort', '-title');
        url.value = fullUrl;
    }
    const response = await fetch(fullUrl);
    data.value = await response.json();
    // return isTitle.value = !isTitle.value;
}

async function fetchTitle() {
    isLoad.value = !isLoad.value;
    const searchParams = new URL(url.value);
    if (filterTitle.value) {
        searchParams.searchParams.set('title', filterTitle.value);
    } else {
        searchParams.searchParams.delete('title');
    }
    const fullUrl = searchParams.toString();
    url.value = fullUrl;
    const response = await fetch(fullUrl);
    isLoad.value = !isLoad.value;
    data.value = await response.json();
    isDataEmpty.value = data.value.data.length > 0;
}

async function fetchProjectsData(page = 1) {
    const fullUrl = updateURLParam('page', page);
    url.value = fullUrl;
    const response = await fetch(fullUrl);
    data.value = await response.json();
    isDataEmpty.value = data.value.data.length > 0;
}

fetchProjectsData();

async function getData() {
    await data;
    return data;
}

</script>
