<template>
    <DefaultLayout :user="user" :can-login="canLogin">
        <div class="dark:text-white md:grid lg:grid-cols-[33.33%,66.66%] gap-8 mx-2">
            <div>
                <p class="text-4xl">{{ project.title }}</p>
                <p class="text-xl">{{ project.brief_description }}</p>
                <hr class="max-w-sm h-px my-3 bg-gray-200 border-0 dark:bg-gray-700">
                <p>Важкість: {{ project.state.state }}</p>
                <p>Технології: {{ project.technologys.map((p) => p.title).join(', ') }}</p>
                <p>Подія: {{ project.event.title }}</p>
                <p>Опис подія: {{ project.event.description }}</p>
                <p>Тривалість події: {{ project.start.slice(0, 10) }} - {{ project.end.slice(0, 10) }}</p>
                <Link :href="route('notification.apply', project)">Подати заявку</Link>
            </div>
            <div>
                <div v-html="project.description"></div>
            </div>
        </div>
    </DefaultLayout>
</template>

<script setup>

import DefaultLayout from "../../Layers/DefaultLayout.vue";
import {Link} from "@inertiajs/vue3";

const props = defineProps({
    user: {
        type: Object,
        required: true,
    },
    canLogin: {
        type: Boolean,
        required: true,
    },
    project: {
        type: Object,
        required: true,
    }
});
</script>
