<template>
    <div>
        <h2
            class="flex items-center justify-between w-full p-5 font-medium text-left text-gray-500 border border-gray-200 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-800 dark:border-gray-700 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-800"
            :class="typeClasses"
            @click="isOpen = !isOpen"
        >
            <slot name="title"/>
            <svg-icon type="mdi" :path="isOpen ? mdiChevronUp : mdiChevronDown"/>
        </h2>
        <div :class="isOpen ? 'block' : 'hidden'"
             class="p-5 border border-gray-200 dark:border-gray-700 dark:bg-gray-900"
        >
            <slot name="content"/>
        </div>
    </div>
</template>

<script setup>
import {computed, ref} from "vue";
import SvgIcon from '@jamescoyle/vue-icon';
import {mdiChevronDown, mdiChevronUp} from '@mdi/js';

const props = defineProps({
    type: {
        default: 'continue',
    }
});

const isOpen = ref(false);

const typeClasses = computed(() => {
    switch (props.type) {
        case 'first':
            return 'border-b-0 rounded-t-xl';
        case 'continue':
            return 'border-b-0';
        case 'first-end':
            return 'rounded-t-xl';
        default:
            return '';
    }
});
</script>
