<template>
    <div class="mx-2 sm:m-0 animate-pulse">
        <h2 class="flex items-center justify-between border-b-0 rounded-t-xl w-full p-5 border border-gray-200 dark:border-gray-700">
            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
            <svg-icon type="mdi" :path="mdiChevronDown"/>
        </h2>
        <h2 class="flex items-center justify-between border-b-0 w-full p-5 border border-gray-200 dark:border-gray-700">
            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
            <svg-icon type="mdi" :path="mdiChevronDown"/>
        </h2>
        <h2 class="flex items-center justify-between border-b-0 w-full p-5 border border-gray-200 dark:border-gray-700">
            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
            <svg-icon type="mdi" :path="mdiChevronDown"/>
        </h2>
        <h2 class="flex items-center justify-between border-b-0 w-full p-5 border border-gray-200 dark:border-gray-700">
            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
            <svg-icon type="mdi" :path="mdiChevronDown"/>
        </h2>
        <h2 class="flex items-center justify-between border-b-0 w-full p-5 border border-gray-200 dark:border-gray-700">
            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
            <svg-icon type="mdi" :path="mdiChevronDown"/>
        </h2>
        <h2 class="flex items-center justify-between border-b-0 w-full p-5 border border-gray-200 dark:border-gray-700">
            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
            <svg-icon type="mdi" :path="mdiChevronDown"/>
        </h2>
        <h2 class="flex items-center justify-between border-b-0 w-full p-5 border border-gray-200 dark:border-gray-700">
            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
            <svg-icon type="mdi" :path="mdiChevronDown"/>
        </h2>
        <h2 class="flex items-center justify-between border-b-0 w-full p-5 border border-gray-200 dark:border-gray-700">
            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
            <svg-icon type="mdi" :path="mdiChevronDown"/>
        </h2>
        <h2 class="flex items-center justify-between border-b-0 w-full p-5 border border-gray-200 dark:border-gray-700">
            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
            <svg-icon type="mdi" :path="mdiChevronDown"/>
        </h2>
        <h2 class="flex items-center justify-between w-full p-5 border border-gray-200 dark:border-gray-700">
            <div class="h-2.5 bg-gray-200 rounded-full dark:bg-gray-700 w-48 mb-4"></div>
            <svg-icon type="mdi" :path="mdiChevronDown"/>
        </h2>
        <span class="sr-only">Loading...</span>
    </div>
</template>

<script setup>
import SvgIcon from '@jamescoyle/vue-icon';
import {mdiChevronDown} from '@mdi/js';
</script>
