<script setup>
import {Link} from "@inertiajs/vue3";
import SvgIcon from '@jamescoyle/vue-icon'
import {mdiBookEducationOutline} from '@mdi/js';
import Dropdown from "../Components/Dropdown.vue";
import DropdownLink from "../Components/DropdownLink.vue";
import DropdownA from "../Components/DropdownA.vue";

const props = defineProps(['user', 'canLogin']);

const canLogin = !props.canLogin;
</script>

<template>
    <nav class="bg-white border-gray-200 px-2 sm:px-4 py-2.5 rounded dark:bg-gray-900">
        <div class="container flex flex-wrap items-center justify-between mx-auto">
            <Link :href="route('home')" class=" group flex items-center">
                <div class="h-6 mr-3 sm:h-9">
                    <svg-icon type="mdi" :path="mdiBookEducationOutline"
                              class="w-8 h-8 dark:stroke-cyan-500 dark:group-hover:stroke-cyan-700"></svg-icon>
                </div>
                <span
                    class="self-center text-xl font-semibold whitespace-nowrap dark:text-cyan-500 dark:group-hover:text-cyan-700">Sys Control Edu Works</span>
            </Link>
            <div class="flex items-center md:order-2">
                <Dropdown v-if="!canLogin" align="right" width="48">
                    <template #trigger>
                        <button type="button"
                                class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                        >
                            <img class="w-8 h-8 rounded-full" :src="user?.avatar" alt="Avatar">
                        </button>
                    </template>

                    <template #content>
                        <DropdownLink :href="route('userPage')">Профіль</DropdownLink>
                        <DropdownA :href="route('platform.main')">Адмін панель</DropdownA>
                        <DropdownLink :href="route('logout')">Вихід</DropdownLink>
                    </template>
                </Dropdown>
                <div v-else>
                    <Link
                        :href="route('auth')"
                        class="text-white bg-[#24292F] hover:bg-[#24292F]/90 focus:ring-4 focus:outline-none focus:ring-[#24292F]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center dark:focus:ring-gray-500 dark:hover:bg-[#050708]/30"
                    >
                        Увійти
                    </Link>
                </div>
            </div>

            <div class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1">
                <ul class="flex flex-col p-4 mt-4 border border-gray-100 rounded-lg bg-gray-50 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium md:border-0 md:bg-white dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700">
                    <li>
                        <Link
                            :href="route('home')"
                            class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                        >
                            Головна
                        </Link>
                    </li>
                    <li>
                        <Link
                            :href="route('projects.index')"
                            class="block py-2 pl-3 pr-4 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent dark:border-gray-700"
                        >
                            Проєкти
                        </Link>
                    </li>
                </ul>
            </div>

        </div>
    </nav>

    <div class="container mx-auto">
        <slot/>
    </div>

    <p class="lg:h-16 sm:h-20 h-24"></p>

    <footer
        class="fixed bottom-0 left-0 z-20 w-full p-4 bg-white border-t border-gray-200 shadow md:flex md:items-center md:justify-between md:p-6 dark:bg-gray-800 dark:border-gray-600">
        <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© {{ new Date().getFullYear() }} <Link
            :href="route('home')"
            class="hover:underline">Sys Control Edu Works</Link>
        </span>
        <ul class="flex flex-wrap items-center mt-3 text-sm text-gray-500 dark:text-gray-400 sm:mt-0">
            <li>
                <Link :href="route('home')" class="mr-4 hover:underline md:mr-6 ">Головна</Link>
            </li>
            <li>
                <Link :href="route('projects.index')" class="mr-4 hover:underline md:mr-6">Проєкти</Link>
            </li>
        </ul>
    </footer>
</template>
